/* Header.css */

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  color: #0000;
  padding: 10px 20px;
}

.HeaderLeft h2 {
  margin: 0;
}

.HeaderRight {
  display: flex;
  align-items: center;
}

.SearchTab {
  display: flex;
  align-items: center;
}

/* Estilos para os botões na classe .SearchTab */
.SearchTab button {
  margin-right: 10px;
  background-color: #ffffff; /* Fundo branco */
  color: #000000; /* Letra preta */
  border: none; /* adicionar borda depois */
  padding: 8px 16px;
  cursor: pointer;
}

/* Estilos para o ícone de perfil */
.ProfileIcon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
