/* Sidebar.css */
.Sidebar {
  background-color: #ffffff; /* Fundo branco */
  color: #000000; /* texto preto */
  padding: 10px;
  height: 100%; /* altura total da barra lateral */
  border: none;
  font-size: 25px;
}

.Sidebar h2 {
  margin-bottom: 20px;
}

.Sidebar h3 {
  font-size : 10px;
  margin-top: 10px;
  text-align: center;
}

.Sidebar ul {
  list-style: none;
  padding: 0;
}

.Sidebar li {
  margin-bottom: 10px;
}

.Sidebar a {
  text-decoration: none;
  color: #000000; /* texto preto */
  transition: color 0.3s; /* transição suave de cor */
}

.Sidebar a:hover {
  color: #e3e3e3; /* cor ao passar o mouse */
}


.SidebarBottom {
  margin-bottom: auto;
  text-align: center;
}

.LogoutButton {
  border-radius: 30px; /* borda redonda */
  background-color: #006633; /* cor de fundo do botão */
  color: #ffffff; /* cor do texto do botão */
  transition: color 0.3s; /* transição suave de cor */
  border: none; /* remover a borda padrão */
  padding: 5px 30px;
  cursor: pointer;  
  font-size: 20px;
}

.LogoutButton:hover {
  background-color: #000000; /* cor de fundo ao passar o mouse */

}

